.leftside {
	width: 238px;
	margin-right: 20px;
	min-height: 608px;
}

.leftside.leftside--bg {
	background: #fff url(../img/bg.png) no-repeat center 140px;
}

.leftside .title {
	color: #fff;
	background: #1877b9;
	line-height: 52px;
	font-size: 20px;
	text-align: center;

}

.leftside .teacherinfo {
	background: rgba(24, 119, 185, .9);
	color: #fff;
	padding: 25px 0;
	text-align: center;
}

.leftside .teacherinfo .avatar {
	height: 80px;
	width: 80px;
	border: 2px solid #fff;
	border-radius: 100%;
	background: no-repeat center center;
	background-size: cover;
	margin: 0 auto;
}

.leftside .teacherinfo .edit {
	color: #91b7d1;
	font-size: 13px;
	margin-top: 10px;
	display: block;
}

.leftside .teacherinfo .name {
	font-size: 18px;
	margin-top: 15px;
}

.leftside ul a {
	display: block;
	line-height: 45px;
	border-bottom: 1px solid #e6e6e6;
	font-size: 15px;
	color: #333;
	padding-left: 30px;
	font-weight: bold;
	position: relative;
	background: url(../img/arrow3.png) no-repeat 200px center;
}

.leftside ul li:last-child a {
	border-bottom: none
}

.leftside .active a {
	color: #1a6ea8;

}

.leftside .badge {
	position: absolute;
	font-style: normal;
	color: #fff;
	font-size: 12px;
	background: #e02627;
	line-height: 17px;
	border-radius: 20px;
	padding: 0 7px;
	top: 10px;
	left: 84px;
}

.main {
	min-height: 608px;
	padding: 20px 36px;
}

.modbox.main .modbox-hd {
	font-size: 18px;
	color: #333;
	font-weight: bold;
	padding: 20px 10px;
	position: relative;
	border-bottom: 1px solid #e5e5e5;
}

.modbox.main .modbox-hd::before {
	content: '';
	display: block;
	height: 16px;
	width: 3px;
	background: #2076b2;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);

}

.baseinfo {
	margin-top: 30px;
	margin-left: 40px;
}

.input-group {
	font-size: 14px;
	color: #666;
}

.input-group label {
	width: 4em;
	text-align: right;
	display: block;
	margin-right: 6px;
	line-height: 42px;
}

.input-group label i {
	color: #e6212a;
}

.modbox.main .inputbox {
	width: 250px;
	border: 1px solid #e5e5e5;
	line-height: 40px;
	padding-left: 20px;
	color: #666;
}

.modbox.main select.inputbox {
	appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	background: url(../img/arrow4.png) no-repeat calc(100% - 10px) center;
}

.input-group .upload {
	color: #999;
	font-size: 13px;
}

.input-group .upload .imgbox {
	width: 160px;
	height: 160px;
	margin-bottom: 15px;
}

.input-group .upload .uploadBtn {
	width: 116px;
	height: 36px;
	border-radius: 4px;
	border: 1px solid #ddd;
	background: #f9f9f9;
	color: #333;
	position: relative;
	text-align: center;
	line-height: 34px;
	margin-right: 12px;
	overflow: hidden;
}

.input-group .upload .uploadBtn input {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 400px;
	opacity: 0;
}

.input-group input[type=submit] {
	color: #fff;
	font-size: 16px;
	background: #1a6da8;
	display: block;
	width: 120px;
	line-height: 38px;
	text-align: center;
	border: none;
	cursor: pointer;
}

.filterbar {
	margin-top: 24px;
	margin-left: 5px;
}

.modbox.main .filterbar select.inputbox {
	width: 168px;
	background-position: 130px center;
	margin-left: 5px;
}

.modbox.main .filterbar .searchBtn {
	border: 1px solid #e5e5e5;
	line-height: 40px;
	display: block;
	width: 85px;
	text-align: center;
	color: #666;
	background: none;
	margin-left: 5px;
	cursor: pointer;
}

.historylist .item {
	font-size: 13px;
	color: #333;
	padding: 20px 0;
	border-bottom: 1px solid #eaeaea;
}

.historylist .item .time {
	color: #999;
}

.pagination {
	text-align: left;
	margin-top: 20px;
	margin-left: 10px;
}

.pagination a,
.pagination span {
	text-align: center;
	width: 33px;
	height: 33px;
	line-height: 31px;
	font-size: 13px;
	box-sizing: border-box;
	color: #999;
	border-color: #cfcfcf;
}

.pagination a.active {
	color: #2076b2;
	border-color: #2076b2;
}

.pagination a.prev,
.pagination a.next {
	font-size: 26px;
	font-family: '微软雅黑';
}

.searchbar {
	margin-top: 30px;
	font-size: 13px;
}

.searchbar .searchtxt {
	width: 218px;
	border-radius: 3px;
	border: 1px solid #ccc;
	height: 38px;
	padding-left: 15px;
}

.searchbar .searchtxt input {
	margin-left: 8px;
	border: none;

}

.searchbar .searchBtn {
	color: #fff;
	background: #2076b2;
	border-radius: 3px;
	border: 1px solid #ccc;
	color: #fff;
	width: 104px;
	margin-left: 10px;
}

.searchbar .add {
	border: 1px solid #ccc;
	height: 38px;
	width: 154px;
	border-radius: 4px;
	display: block;
	color: #333;
	font-size: 13px;
	padding: 0 20px;
	box-sizing: border-box;
}

.subtitle {
	margin: 30px 0 15px 25px;
	color: #333;
	font-size: 16px;
}

.table {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #e5e5e5;
	font-size: 13px;
	color: #333;
}

.table th {
	font-size: 14px;
	border-bottom: 1px solid #e5e5e5;
	line-height: 45px;
	font-weight: normal;
	width: 10%;
}

.table .bg-grey th {
	background: #f7f7f7;
}

.table.ordertable th:first-child {
	width: 60%;
	text-align: left;
	padding-left: 25px;
}

.table td {
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
	line-height: 20px;
}

.ordertable td:first-child {
	text-align: left;
	padding: 25px;
}

.ordertable td:first-child .imgbox {
	width: 118px;
	margin-right: 25px;
}

.commenttable th:first-child {
	width: 60%;
}

.commenttable td:first-child {
	padding: 20px 15px;
	text-align: left;
}

.commenttable td:first-child .time {
	margin-bottom: 20px;
	color: #666;
}

.studytable th {
	width: 15%;
}

.studytable td {
	padding: 15px 0;
}

.studytable th:first-child {
	width: 75px;
}

.studytable th:last-child {
	width: 10%;
}

.studytable th:nth-child(2) {
	width: calc(60% - 75px);
}

/* 系统消息 */
.msglist,
.recommendlist {
	color: #333;
	font-size: 13px;
	margin-top: 10px;
}

.msglist .item,
.recommendlist .item {
	padding: 20px 0;
	border-bottom: 1px solid #eaeaea;
}

.msglist .item .state,
.recommendlist .item .state {
	color: #fff;
	background: #3e85b7;
	border-radius: 50px;
	height: 22px;
	width: 50px;
	text-align: center;
	line-height: 22px;
	margin-left: 20px;
}

.msglist .item .state.read,
.recommendlist .item .state.read {
	background: #efefef;
	color: #999;
}

.msglist .item .flex,
.recommendlist .item .flex {
	min-width: 0;
}

.msglist .item .ellipsis,
.recommendlist .item .ellipsis {
	max-width: calc(100% - 100px);
}

.msglist .item .time,
.recommendlist .item .time,
.recommendlist .item .download {
	color: #999;
	text-align: right;
}

.recommendlist .item .time,
.recommendlist .item img {
	margin: 0 13px;
}

.checkpwd {
	width: 350px;
	margin: 95px auto;
}

.checkpwd .input-group label {
	display: block;
	color: #333;
	font-size: 15px;
	margin-right: 20px;
}

.checkpwd .input-group input {
	width: 286px;
	height: 46px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding-left: 20px;
}

.checkpwd .submitBtn {
	display: block;
	border: none;
	color: #fff;
	text-align: center;
	line-height: 46px;
	border-radius: 5px;
	width: 100%;
	background: #1877b9;
	font-size: 18px;
}
.col-3{
	box-sizing: border-box;
}
.col-3>div {
	width: 30%;
}
