.bgf5 {
	background: #f5f5f5;
}

.ml20 {
	margin-left: 20px;
}

.imgbox img {
	display: block;
	width: 100%;
}

.w1200 {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.header {
	background: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.header.fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.header.fixed+.contionar {
	padding-top: 120px;
}

.topbar {
	background: #333;
	font-size: 13px;
	color: #fff;
	line-height: 40px;
}

.topbar .btnlist a {
	color: #fff;
}

.topbar .btnlist span {
	color: #999;
}

.topbar .phone {
	margin-left: 30px;
	background: url(../img/phone.png) no-repeat left center;
	padding-left: 25px;
}

.header .navbar {
	height: 80px;
}

.header .navbar .navmenu {
	text-align: right;
	margin-right: 70px;
}

.header .navbar .searchbar {
	width: 305px;
	height: 36px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 14px;
	color: #333;
}

.header .navbar .searchbar .line {
	margin: 0 10px;
	height: 16px;
	width: 1px;
	background: #ccc;
}

.header .navbar .searchbar input {
	border: none;

}

.header .navbar .searchbar .seacrhbtn {
	width: 38px;
	height: 100%;
	display: block;
	background: url(../img/search.png) no-repeat center center;
}

.header .navbar .searchbar .dropdown {
	position: relative;
	width: 95px;
	text-align: center;
}

.header .navbar .searchbar .dropdown .txt {
	line-height: 36px;
	background: url(../img/arrow.png) right center no-repeat;
	cursor: pointer;
}

.header .navbar .searchbar .dropdown ul {
	position: absolute;
	border: 1px solid #ccc;
	border-radius: 4px;
	left: 0;
	width: 94px;
	background: #fff;
	display: none;
}

.header .navbar .searchbar .dropdown ul li a {
	display: block;
	padding: 10px 0;
}

.header .navbar .navmenu {
	font-size: 16px;
	margin-right: 50px;
}

.header .navbar .navmenu a {
	color: #333;
	margin: 0 20px;
	display: block;
	line-height: 76px;
	border-bottom: 3px solid transparent;

}

.header .navbar .navmenu a.active {
	color: #0167ab;
	border-bottom-color: #0167ab;
	font-weight: bold;
}

.footer {
	color: #999;
	font-size: 12px;
	background: #262626;
	padding: 30px 0;
}

.footer .navmenu {
	margin-bottom: 55px;
}

.footer .navmenu a {
	color: #dbdbdb;
	font-size: 14px;
}

.footer .navmenu a+a {
	margin-left: 30px;
}

.footer p+p {
	margin-top: 15px;
}

.footer .weixin {
	position: relative;
}

.footer .weixin div:first-child {
	color: #fff;
	font-size: 12px;
	background: url(../img/weixin.png) 98px center no-repeat;
	width: 141px;
	height: 34px;
	border: 1px solid #999;
	border-radius: 50px;
	line-height: 32px;
	padding-left: 20px;

}

.footer .weixin .imgbox {
	background-color: #fff;
	border-radius: 10px;
	padding: 10px;
	border: 1px solid #e5e5e5;
	position: absolute;
	width: 128px;
	top: -165px;
	left: 50%;
	transform: translateX(-50%);
	display: none;
}

.footer .weixin:hover .imgbox {
	display: block;
}

.banner img,
.banner a {
	display: block;
	width: 100%;
}

.coursebox {}

.coursebox .coursebox-hd {
	font-size: 36px;
	color: #333;
}

.coursebox .coursebox-hd .menu {
	text-align: right;
	font-size: 16px;
	overflow: hidden;
	margin-right: 20px;
}
.coursebox .coursebox-hd .menu span,
.coursebox .coursebox-hd .menu a{
	display: block;
}
.coursebox .coursebox-hd  .menu a {
	padding: 0 10px;
	
}
.coursebox .coursebox-hd .more{
	color: #999;
	font-size: 15px;
}