.bgf5 {
	background: #f5f5f5;
}

.text-right {
	text-align: right;
}

.ml10 {
	margin-left: 10px;
}

.ml20 {
	margin-left: 20px;
}

.ml100 {
	margin-left: 100px !important;
}

.mt40 {
	margin-top: 40px;
}

.mb50 {
	margin-bottom: 50px;
}

.bgfff {
	background: #fff;
}

.imgbox img {
	display: block;
	width: 100%;
}

.w1200 {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.header {
	background: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.header.fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

.header.fixed+.contionar {
	padding-top: 120px;
}

.topbar {
	background: #333;
	font-size: 13px;
	color: #fff;
	line-height: 40px;
}

.topbar .btnlist a {
	color: #fff;
}

.topbar .btnlist span {
	color: #999;
}

.topbar .phone {
	margin-left: 30px;
	background: url(../img/phone.png) no-repeat left center;
	padding-left: 25px;
}

.header .navbar {
	height: 80px;
}

.header .navbar .navmenu {
	text-align: right;
	margin-right: 70px;
}

.header .navbar .searchbar {
	width: 305px;
	height: 36px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 14px;
	color: #333;
}

.header .navbar .searchbar .line {
	margin: 0 10px;
	height: 16px;
	width: 1px;
	background: #ccc;
}

.header .navbar .searchbar input {
	border: none;

}

.header .navbar .searchbar .seacrhbtn {
	width: 38px;
	height: 100%;
	display: block;
	background: url(../img/search.png) no-repeat center center;
}

.header .navbar .searchbar .dropdown {
	position: relative;
	width: 95px;
	text-align: center;
}

.header .navbar .searchbar .dropdown .txt {
	line-height: 36px;
	background: url(../img/arrow.png) right center no-repeat;
	cursor: pointer;
}

.header .navbar .searchbar .dropdown ul {
	position: absolute;
	border: 1px solid #ccc;
	border-radius: 4px;
	left: 0;
	width: 94px;
	background: #fff;
	display: none;
}

.header .navbar .searchbar .dropdown ul li a {
	display: block;
	padding: 10px 0;
}

.header .navbar .navmenu {
	font-size: 16px;
	margin-right: 50px;
}

.header .navbar .navmenu a {
	color: #333;
	margin: 0 20px;
	display: block;
	line-height: 76px;
	border-bottom: 3px solid transparent;

}

.header .navbar .navmenu a.active {
	color: #0167ab;
	border-bottom-color: #0167ab;
	font-weight: bold;
}

.footer {
	color: #999;
	font-size: 12px;
	background: #262626;
	padding: 30px 0;
}

.footer .navmenu {
	margin-bottom: 55px;
}

.footer .navmenu a {
	color: #dbdbdb;
	font-size: 14px;
}

.footer .navmenu a+a {
	margin-left: 30px;
}

.footer p+p {
	margin-top: 15px;
}

.footer .weixin {
	position: relative;
}

.footer .weixin div:first-child {
	color: #fff;
	font-size: 12px;
	background: url(../img/weixin.png) 98px center no-repeat;
	width: 141px;
	height: 34px;
	border: 1px solid #999;
	border-radius: 50px;
	line-height: 32px;
	padding-left: 20px;

}

.footer .weixin .imgbox {
	background-color: #fff;
	border-radius: 10px;
	padding: 10px;
	border: 1px solid #e5e5e5;
	position: absolute;
	width: 128px;
	top: -165px;
	left: 50%;
	transform: translateX(-50%);
	display: none;
}

.footer .weixin:hover .imgbox {
	display: block;
}

.footer .top {
	height: 36px;
	width: 36px;
	background: url(../img/top.png) no-repeat center center;
	position: fixed;
	left: 50%;
	margin-left: 630px;
	bottom: 50px;
}

.banner img,
.banner a {
	display: block;
	width: 100%;
}


.loginbox {
	padding: 120px 0;
}

.loginbox>div {
	border-radius: 5px;
	overflow: hidden;
}

.loginbox .imgbox {
	width: 700px;
}

.loginbox .imgbox+div .tab {
	height: 70px;
	text-align: center;
	background: #e5e5e5;
	color: #333;
	font-size: 20px;
	line-height: 70px;
}

.loginbox .imgbox+div .tab .active {
	background: #fff;
	color: #0d6aab;
}

.loginbox .imgbox+div form {
	margin-top: 70px;
}

.loginbox .imgbox+div .group {
	margin-right: 75px;
	font-size: 15px;
}

.loginbox .imgbox+div .group label {
	width: 140px;
	text-align: right;
	padding-right: 20px;
	color: #333;

}

.loginbox .imgbox+div .group input {
	border: 1px solid #ccc;
	border-radius: 5px;
	line-height: 44px;
	padding-left: 20px;
}

.loginbox .imgbox+div .group+.group {
	margin-top: 18px;
}

.loginbox .link {
	color: #2fa5d0;
	font-size: 13px;
}

.loginbox .btn {
	margin-left: 75px;
	display: block;
	text-align: center;
	line-height: 45px;
	background: #1877b9;
	color: #fff;
	border-radius: 5px;
	font-size: 18px;
}

.success {
	text-align: center;
	padding: 180px 0;
}

.success img {
	display: block;
	margin: 0 auto 20px;
}

.success p {
	color: #0d6aab;
	font-weight: bold;
	font-size: 18px;
}

.success p+p {
	color: #666;
	font-size: 15px;
	font-weight: normal;
	margin-top: 10px;
}

.success .reback {
	color: #0d6aab;
	font-size: 18px;
	border: 1px solid #0d6aab;
	border-radius: 5px;
	width: 180px;
	height: 46px;
	display: block;
	margin: 50px auto;
	line-height: 44px;
}

/* 面包屑 */
.breadcrumbs {
	font-size: 13px;
	color: #333;
	padding: 18px 0;
}

.breadcrumbs a {
	color: #333;
}

/* 分页 */
.pagination {
	text-align: center;
	margin-bottom: 60px;
}

.pagination a {
	display: inline-block;
	height: 38px;
	width: 38px;
	border: 1px solid transparent;
	font-size: 18px;
	color: #999;
	vertical-align: middle;
	line-height: 36px;
}

.pagination a.prev,
.pagination a.next {
	border-color: #999;
}

.pagination a.active {
	border-color: #e02627;
}

/* 模块 */
.modbox {
	border: 1px solid #e5e5e5;
	background: #fff;
	box-sizing: border-box;
}


.modbox .modbox-tab {
	padding: 10px 25px 0;
	font-size: 16px;
	color: #333;
	border-bottom: 1px solid #e5e5e5;
}

.modbox .modbox-tab a,
.modbox .modbox-tab span {
	color: #333;
	position: relative;
	padding: 15px 0 20px;
	display: block;
	margin: 0 10px;
	min-width: 70px;
	text-align: center;
}

.modbox .modbox-tab a.active,
.modbox .modbox-tab a:hover {
	color: #096db0;
}

.modbox .modbox-tab a.active::after {
	content: '';
	display: block;
	height: 3px;
	left: 0;
	right: 0;
	bottom: -1px;
	background: #096db0;
	position: absolute;

}

.modbox .modbox-tab+.modbox-tab {
	padding-top: 0;
}

/* modbox tabPanel */
.modbox .modbox-tabPanel {
	display: none;
}

/* 红色边框模块 */
.redtop-modbox {
	padding: 0 20px 30px;
	box-sizing: border-box;
	position: relative;
}

.redtop-modbox::after {
	content: '';
	display: block;
	position: absolute;
	top: -1px;
	height: 3px;
	left: 0;
	right: 0;
	background: #e02627;
}

.redtop-modbox .tip {
	color: #999;
	font-size: 13px;
}

.redtop-modbox .tip .icon {
	height: 40px;
	width: 36px;
	background: #f0f0f0 url(../img/start.png) no-repeat center center;
	border-radius: 0 0 50px 50px;
	margin-right: 10px;
}

.redtop-modbox .tip .icon.icon-grey {
	background-image: url(../img/start-grey.png);
}

/* 课程列表 */
.courselist {
	padding: 0 35px 40px;
}

.courselist .item {
	height: 70px;
	border-bottom: 1px solid #e6e6e6;
	font-size: 16px;
	color: #666;
}

.courselist .item .num {
	width: 60px;
	text-align: center;
	margin-right: 10px;
}

.courselist .item .icon {
	width: 20px;
	display: block;
	margin-right: 10px;

}

.courselist .item .time {
	color: #999;
	font-size: 15px;
	margin-right: 30px;
}

.courselist .item .btnlist {
	width: 300px;
}

.courselist .item .btnlist a {
	width: 90px;
	height: 40px;
	border: 1px solid #cb1f20;
	display: block;
	border-radius: 5px;
	line-height: 40px;
	text-align: center;
	color: #cb1f20;
}

.courselist .item .btnlist a+a {
	margin-left: 10px;
}

.courselist .item .btnlist .btn2 {
	border-color: #096bb4;
	color: #096bb4;
}

.courselist .item .btnlist .btn3 {
	border-color: #b2b2b2;
	color: #b2b2b2;
}

.courselist.videolist .item .btnlist {
	width: 270px;
}

.courselist.videolist .item .btnlist .btn1 {
	width: 156px;
	border-color: #096bb4;
	color: #096bb4;
}

.courselist.videolist .item .btnlist .btn3 {
	width: 156px;
	border-color: #cb1f20;
	color: #cb1f20;
}

.courselist.videolist .item .btnlist .btn4 {
	width: 156px;
	border-color: #b2b2b2;
	color: #b2b2b2;
}

/* 页面tab */
.tabbox .tabbox-hd {
	border-bottom: 1px solid #cdcdcd;
	line-height: 65px;
}

.tabbox .tabbox-hd a {
	color: #000;
	font-size: 16px;
	padding: 0 5px;
	border-bottom: 2px solid transparent;
	display: block;
}

.tabbox .tabbox-hd a+a {
	margin-left: 20px;
}

.tabbox .tabbox-hd a.active {
	border-bottom-color: #0167ab;
}
